body {
    background-color: gray;
    padding-top: 130px;
}

button {
    margin: 50px 0px;
    padding:6px 8px;
    background-color: light gray;
    border-radius: 20px ;
}

.button {
    text-align: center;
}

button:hover{
    background: skyblue;
}

h2 {
    text-align: center;
}
